*{
	margin: 0;
	padding: 0;
}
.div{
	border: 100%;
	background-color: dimgray;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.img{
	width: 50%;
	text-align: center;
	margin-left: 25%;
}
img{
	border-radius: 40%;
	width: 60%;
	text-align: center;
}

.p{
	display: flex;
	justify-content: flex-end;
}

.details{
	background-color: rgb(177, 173, 173);
	padding: 10px;
	border: 10px solid rgb(17, 83, 121);
	color: rgb(0, 0, 0);
	margin: 10px;
	display: flex;
	justify-content: flex-end;
}
h1{
	text-align: center;
	background-color: rgb(44, 60, 75);
	color: white;
	border-radius: 10px;
}
body {
	padding: 25px;
	background-color: white;
	color: rgb(59, 83, 83);
	font-size: 25px;
  }
  
.dark-mode{
	background-color: rgb(0, 0, 0);
	color: white;
}
.button{
	background-color: rgb(235, 46, 87);
	color: white;
	border: 1px solid red;
	width: auto;
	padding: auto;
}
.button:hover{
	background-color: white;
	color: black;
}
.hr{
	size: 100;
}
.a{
	color: #ffffff;
	margin-left: 95%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
  }
  * a {
    text-decoration: none;
  }
  * il {
    list-style: none;
  }
  .container {
    min-height: 120vh;
    padding-bottom: 50px;
    margin: 0 auto;
    position: relative;
  }
  .navBar {
    background-color: black;
    display: flex;
    width: 100%;
    justify-content: end;
    margin: 0 auto;
    align-items: center;
    height: 10vh;
  }
  .navBar ul {
    display: flex;
    align-items: center;
  }
  .navBar ul il {
    padding: 0 25px;
  }
  .navBar ul il a {
    color:red;
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1.5px;
  }
  .translate{
    display: flex;
    justify-content: end;
    margin: 0 8rem;
  }
  
